:root {
	--bfont: rgba(255,255,255,1);
	--bground: rgba(0,33,71,1);
	--bglass: rgba(0,33,71,0.9);
	--opaqueglass: rgba(0,51,91,1);
	--trans: rgba(0,0,0,0);
	--emph: rgba(127,144,163,1);
	--shad: orange;
}

body {
	background-color: var(--bfont);
	font-family: ubuntu;
	margin: 0;
	padding: 0;
}

p {
	margin: 20px;
}

table {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid;
	border-color: var(--emph);
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid;
	border-color: var(--emph);
	border-collapse: collapse;
	padding: 10px;
}





div.topbar {
	background: linear-gradient(var(--bground),var(--bglass));
	color: var(--bfont);
	position: fixed;
	top: 0;
	left: 0;
	padding: 30px;
	width: 100%;
}



div.topbar a:link {
	width: 100px;
	color: var(--bfont);
	text-decoration: none;
}
div.topbar a:visited {
	color: var(--bfont);
}
div.topbar a:hover {
}



div.topbar a.other:link {
	margin: 15px;
	background-color: var(--trans);
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	padding: 5px;
	color: var(--bfont);
	text-decoration: none;
}
div.topbar a.other:visited {
	color: var(--bfont);
}
div.topbar a.other:hover {
	margin: 15px;
	background-color: var(--emph);
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	padding: 5px;
}



div.topbar a.current:link {
	margin: 15px;
	background-color: var(--emph);
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	padding: 5px;
	color: var(--bfont);
	text-decoration: none;
}
div.topbar a.current:visited {
	color: var(--bfont);
}
div.topbar a.current:hover {
}



div.topbar h2 {
	display: inline;
	margin: 0px 40px 0px 20px;
}
div.topbar h3 {
	display: inline;
	margin: 5px;
}






div.header {
	overflow: auto;
	background: var(--bfont);
	color: var(--bground);
	width: 650px;
	margin: 70px auto;
	margin-bottom: -20px;
	padding: 30px;
}
div.header a:link {
	color: var(--bground);
	text-decoration: none;
}
div.header a:visited {
	color: var(--bground);
}
div.header a:hover {
	color: var(--emph);
}



div.section {
	background: var(--opaqueglass);
	color: var(--bfont);
	width: 550px;
	margin: 50px auto;
	padding: 50px;
	box-shadow: -5px 5px var(--emph);
}

div.section a:link {
	color: var(--bfont);
	text-decoration: none;
}

div.section a:visited {
	color: var(--bfont);
}

div.section a:hover {
	color: var(--emph);
}

div.section h2 {
	margin: 5px;
}

div.section h3 {
	margin: 5px;
}


div.circle {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	overflow: hidden;
	text-align: center;
	box-shadow: 0 0 8px;
}

tr.collapsible:hover {
	cursor: pointer;
}

tr.hiddenrow {
	display: none;
}

table.hiddentable {
	border-spacing: 10px;
}

table.hiddentable td {
	border-color: var(--opaqueglass);
	padding: 2px;
}

