:root {
	--bfont: rgba(255,255,255,1);
	--bground: rgba(0,33,71,1);
	--bglass: rgba(25,55,89,1);
	--emph: rgba(127,144,163,1);
	--topmarg: 52px;
	--sidemarg: 161px;
}

body {
	background-color: var(--bfont);
	font-family: ubuntu;
	margin: 0;
	padding: 0;
}

p {
	margin: 20px;
}

table {
	width: 100%;
	border-bottom: 1px solid;
	border-color: var(--emph);
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid;
	border-color: var(--emph);
	border-collapse: collapse;
	padding: 10px;
}


div.topbar {
	background: linear-gradient(var(--bground),var(--bglass));
	color: var(--bfont);
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
}

div.topbar a:link {
	color: var(--bfont);
	text-decoration: none;
}

div.topbar a:visited {
	color: var(--bfont);
}

div.topbar a:hover {
	color: var(--emph);
}

div.topbar h3 {
	margin: 5px;
}



div.sidebar {
	background: var(--bglass);
	color: var(--bfont);
	margin-top: var(--topmarg);
	top: 0;
	right: 0;
	z-index: 1;
	position: fixed;
	height: 100%;
	padding: 40px;
}

div.sidebar a:link {
	color: var(--bfont);
	text-decoration: none;
}

div.sidebar a:visited {
	color: var(--bfont);
}

div.sidebar a:hover {
	color: var(--emph);
}



div.header {
	overflow: auto;
	background: var(--bfont);
	color: var(--bground);
	margin: var(--topmarg) var(--sidemarg) 30px 30px;
	padding: 30px;
}

div.header a:link {
	color: var(--bground);
	text-decoration: none;
}

div.header a:visited {
	color: var(--bground);
}

div.header a:hover {
	color: var(--emph);
}



div.section {
	background: linear-gradient(to right, var(--bground),var(--bglass));
	color: var(--bfont);
	margin: 0px var(--sidemarg) 40px 0px;
	padding: 50px;
}

div.section a:link {
	color: var(--bfont);
	text-decoration: none;
}

div.section a:visited {
	color: var(--bfont);
}

div.section a:hover {
	color: var(--emph);
}

div.section h2 {
	margin: 5px;
}

div.section h3 {
	margin: 5px;
}
